//  Font Mixins
@mixin worksans_font {
  font-family: "Work Sans", sans-serif;
}

@mixin libre_font {
  font-family: "Libre Franklin", sans-serif;
}

@mixin roboto_font {
  font-family: "Roboto Mono", monospace;
}
