//  Font Mixins
@mixin share_font {
  font-family: "Share Tech Mono", monospace;
}

@mixin russo_font {
  font-family: "Russo One", sans-serif;
}

@mixin vt_font {
  font-family: "VT323", monospace;
}
