#desktop-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  #desktop-hero {
    display: flex;
    flex-flow: column wrap;

    .hello {
      @include vt_font;
      font-size: 60px;
      color: white;
    }

    button {
      display: grid;
      margin: auto;
      @include vt_font;
      color: white;
      font-size: 25px;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0);
    }

    button:focus {
      outline: none;
    }

    button:hover {
      transform: rotate(180deg);
    }
  }
}
