// #a-m {
//   height: 900vh;
//   background-color: rgb(179, 179, 179);
//   #b-m {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     #c-m {
//       @include roboto_font;
//       color: yellow;
//       font-size: 25px;
//     }
//   }
// }
// #g-m {
//   @include worksans_font;
//   color: black;
//   font-size: 25px;
//   display: none;
//   opacity: 0;
// }
#page-outter {
  background-color: blueviolet;
}

#page-container {
  background-color: hotpink;
}

#page-item {
  background-color: cornsilk;
}

#writing-color {
  background-color: cyan;
  height: 100vh;
}
