#bx {
  display: none;
  #dx {
    background-color: $kofaYellow;
    ul {
      #page-links {
        @include roboto_font;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        font-weight: 200;
        color: white;
        font-size: 18px;
        transition: background-color 0.2s;
        &:hover {
          @include worksans_font;
          text-transform: uppercase;
          background-color: $kofaYellow;
          color: $kofaBlack;
          font-size: 17px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
