@media (max-width: 374px) and (orientation: portrait) {
}

@media (min-width: 375px) and (max-width: 575.98px) and (orientation: portrait) {
}

@media (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
}

@media (min-width: 1024px) and (orientation: portrait) {
}
