// 1 - INIT-VAR-FUNC-MIX
@import "stylesheets/1-init-var-func-mix/0-global-init";
@import "stylesheets/1-init-var-func-mix/1-variables";
@import "stylesheets/1-init-var-func-mix/2-functions";
@import "stylesheets/1-init-var-func-mix/3-mixins";

// 2 - PAGE-STYLES
// 0 - ROOT-HOME
@import "stylesheets/2-page-styles/0-root-home/0-kofa-home";
// 9 - UNIVERSAL COMPONENTS
@import "stylesheets/2-page-styles/9-universal/0-stack-context/0-stack-context";
@import "stylesheets/2-page-styles/9-universal/0-stack-context/test_animation";
@import "stylesheets/2-page-styles/9-universal/1-nav/0-navigation";
@import "stylesheets/2-page-styles/9-universal/1-nav/1-collapse";

// 3 - MEDIA-QUERIES
@import "stylesheets/3-media-queries/0-portrait";
@import "stylesheets/3-media-queries/1-landscape";

// EXTERNAL LIBRARIES
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
