// 1 - Gloabl_Var_Func_Mix
@import "stylesheets/1-global_var_func_mix/global_init";
@import "stylesheets/1-global_var_func_mix/global_mixins";
@import "stylesheets/1-global_var_func_mix/global_variables";

// 2 - page_styles

// 3 - component_styles
@import "stylesheets/3-component_styles/navigation";

// 4 - Pages

// 4 - Media Queries
@import "stylesheets/5-media_queries/portrait_media_queries";

// External
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
