#a-m {
  height: 300vh;
  #b-m {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #c-m {
      @include worksans_font;
      color: black;
      font-size: 25px;
    }
    #g-m {
      @include worksans_font;
      color: white;
      font-size: 25px;
      display: none;
    }
  }
}
